.header-spacer {
    flex: 1 1 auto;
  }
.header-toolbar {
    background-color: rgba(0, 0, 0, 0.506);
        .header-title{
            padding-left: 20px;
        }
}
.sidebar{
    background-color: rgba(255, 255, 255, 0.303);
    width:200px;
    // height:100%;
}
.content-container{
    min-height: 100%;
}  